:root {
  --primary-color: #000000;
  --secondary-color: #ffde34;
  --third-color: #405ff4;
}
body {
  font-family: "Poppins", sans-serif;
}
.nav {
  padding: 30px 0px;
}
h1 {
  font-size: 50px;
  font-weight: 600;
}
.emoji {
  font-size: 50px;
}
.work-situation {
  color: rgba(0, 0, 0, 0.55);
  margin: 0px;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}
a:hover {
  text-decoration: none;
  transition: all 150ms ease-in-out;
  color: var(--primary-color);
}
.navbar-light .navbar-nav .nav-link {
  color: #000000;
}
.nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
  line-height: 84px;
}
.nav ul {
  padding: 0;
}
.nav a {
  color: var(--primary-color);
  font-weight: 600;
}
.active {
  color: var(--secondary-color) !important;
}
.hi-link {
  color: var(--primary-color);
}

.headshot {
  height: 440px;
  padding: 50px;
  margin-top: 140px;
}

.img-fluid {
  min-width: 100%;
  height: auto;
  margin-top: 23px;
}

p {
  font-size: 17px;
  line-height: 2;
  padding: 20px 0px 20px 0px;
}
h2 a {
  color: var(--primary-color);
}

.contact-mail {
  font-size: 17px;
}
.mail {
  font-size: 17px;
  line-height: 2.5;
  text-align: center;
}
.social-links a {
  margin: 0px 0px 0px 15px;
  font-size: 18px;
  line-height: 2.2;
}
.icons {
  text-align: right;
}
@media (max-width: 992px) {
  .img-fluid {
    margin-top: 20px;
  }
  .headshot {
    height: 400px;
    padding: 0px;
    margin-top: 50px;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 60px;
  }
  p,
  .icons {
    text-align: center;
    padding: 0px;
    line-height: 1.5;
  }
  .contact-mail {
    font-size: 35px;
    line-height: 1.5;
  }
  .social-links a {
    font-size: 35px;
  }
}
