:root {
  --primary-color: #000000;
  --secondary-color: #ffde34;
  --third-color: #405ff4;
}
body {
  font-family: "Poppins", sans-serif;
}
.nav {
  padding: 30px 0px;
}
h1 {
  font-size: 50px;
  font-weight: 600;
}
.emoji {
  font-size: 50px;
}
.work-situation {
  color: rgba(0, 0, 0, 0.55);
  margin: 0px;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}
a:hover {
  text-decoration: none;
  transition: all 150ms ease-in-out;
  color: var(--primary-color);
}
.navbar-light .navbar-nav .nav-link {
  color: #000000;
}
.nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
  line-height: 84px;
}
.nav ul {
  padding: 0;
}
.nav a {
  color: var(--primary-color);
  font-weight: 600;
}
.active {
  color: var(--secondary-color) !important;
}
.hi-link {
  color: var(--primary-color);
}

.headshot {
  margin-top: 114px;
  padding: 0px 0px 0px 50px;
}

.img-fluid {
  max-width: 69%;
  height: auto;
}

p {
  font-size: 17px;
  line-height: 2;
  padding: 20px 0px 20px 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
  font-size: 17px;
  line-height: 2;
  padding: 0px;
  margin: 0;
}
.p-about {
  font-size: 17px;
  line-height: 2;
  padding: 20px 0px 20px 0px;
  text-align: justify;
}

h2 a {
  color: var(--primary-color);
  font-size: 30px;
  line-height: 2.5;
}

.contact-mail {
  font-size: 17px;
}
.mail {
  font-size: 17px;
  line-height: 2.5;
  text-align: center;
}
.mail-contact {
  font-size: 17px;
  padding: 10px 0px;
  margin: 0;
}
.social-links a {
  margin: 0px 0px 0px 15px;
  font-size: 18px;
  line-height: 2.2;
}
.social-links-contact a {
  margin: 0px 15px 0px 0px;
  font-size: 30px;
}
.icons {
  text-align: right;
}
.icons-contact {
  padding: 0;
}

.project-thumbnail {
  border-radius: 2%;
}
.block {
  position: relative;
}
.overlay {
  background: rgba(0, 0, 0, 1);
  border-radius: 2%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
}

.block:hover .overlay {
  opacity: 1;
  transition: 250ms ease-in-out;
}

.thumbnail {
  color: white;
}
.thumbnail:hover {
  color: var(--secondary-color);
  transition: 250ms ease-in-out;
}
.thumbnail-align {
  margin-top: 50%;
  text-align: center;
}

@media (max-width: 992px) {
  h1 {
    font-size: 75px;
  }
  .work-situation {
    font-size: 30px;
    text-align: left;
    padding-bottom: 10px;
  }
  .nav-link {
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    text-align: right;
  }
  .project-thumbnail {
    margin: 10px 0px;
    height: 700px;
  }
  .headshot-align {
    text-align: center;
  }
  .headshot {
    padding: 0px;
    margin-top: 0px;
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  p,
  .icons {
    text-align: center;
    padding: 0px;
  }
  .p-about {
    font-size: 25px;
  }
  li {
    font-size: 25px;
  }
  .contact-mail {
    font-size: 30px;
    line-height: 2.5;
    padding-bottom: 0;
  }
  .social-links a {
    font-size: 40px;
    margin: 0px 20px 0px 20px;
  }
  .thumbnail-align {
    font-size: 30px;
  }
}
