:root {
  --primary-color: #000000;
  --secondary-color: #ffde34;
  --third-color: #405ff4;
}
body {
  font-family: "Poppins", sans-serif;
}
.nav {
  padding: 30px 0px;
}
h1 {
  font-size: 50px;
  font-weight: 600;
}
.emoji-wave {
  font-size: 50px;
}
.work-situation {
  color: rgba(0, 0, 0, 0.55);
  margin: 0px;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}
a:hover {
  text-decoration: none;
  transition: all 150ms ease-in-out;
  color: var(--primary-color);
}
.navbar-light .navbar-nav .nav-link {
  color: #000000;
}
.nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
  line-height: 84px;
}
.nav ul {
  padding: 0;
}
.nav a {
  color: var(--primary-color);
  font-weight: 600;
}
.active {
  color: var(--secondary-color) !important;
}
.hi-link {
  color: var(--primary-color);
}

.project-section {
  margin-top: 50px;
}
.project-section img {
  border-radius: 10px;
}
.content-container {
  padding: 0px 0px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
}
.headshot {
  height: 440px;
  padding: 50px;
  margin-top: 140px;
}

.img-fluid {
  min-width: 100%;
  height: auto;
}

p {
  font-size: 17px;
  text-align: justify;
  line-height: 2;
}
@media (max-width: 1000px) {
  p {
    text-align: center;
  }
  .container {
    text-align: center;
  }
  .headshot {
    height: 400px;
    padding: 0px;
    margin-top: 50px;
    text-align: center;
  }
}
